<h1>Simulated Led Strip</h1>

<svg width="5cm" height="16cm" viewBox="0 0 5 16">
   <g transform="translate(2,0.1)">
      <rect width='1.4' height='15' fill='lightgrey' stroke='grey' stroke-width='0.1'/>
      {% for l in range(1,21) %}
      <g transform="translate(0,{{l*0.7}})">
         <rect x="0.45" y="-0.05" width='0.5' height='0.5' fill='snow'/>
         <circle id="{{l}}" cx="0.7" cy="0.2" r="0.2" fill="rgb(100,100,100)" stroke="grey" stroke-width='0.02'/>
      </g>
      {% endfor %}
   </g>
</svg>

<script type="text/javascript">
var evtSrc = new EventSource("{{url_for('sse')}}");
evtSrc.onmessage = function(e)
{
   var node=document.getElementById(e.lastEventId);
   if(node) node.setAttribute('fill',e.data);
}
</script>
