<h1>Simulated Led Strip</h1>

<svg width='200' height='700'>
   <g>
      <rect width='1.4cm' height='30cm' fill='grey' stroke='black' stroke-width='0.1cm'/>
      {% for l in range(1,11) %}
      <circle id="{{l}}" cx="0.7cm" cy="{{'%s' % (0.7+l*1.4)}}cm" r="0.5cm" fill="rgb(100,100,100)" stroke="white"/>
      {% endfor %}
   </g>
</svg>

<script type="text/javascript">
var evtSrc = new EventSource("{{url_for('sse')}}");
evtSrc.onmessage = function(e)
{
   var node=document.getElementById(e.lastEventId);
   if(node) node.setAttribute('fill',e.data);
}
</script>
